{% extends "probarser/header.html" %}

{% block textarea %}
<div class='container-fluid'>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}									
		<button class="btn btn-default" type="submit">Parse</button>
	</form>
</div>
{% endblock %}

{% load staticfiles %}
{% block message %}
<div class="container-fluid">

<br>
<div class="row">
    <div class="col-sm-12" style="text-align: left">
       <h2 style="font-size: 20px">
           <b>{{ pos }}</b>
       </h2>
    </div>
</div>

<br>
<div class="row" style="overflow-y: auto">
    <div class="col-sm-12">
        <div style="text-align: justify; line-height: 16px">
            <pre style="padding: 0; margin: 0">{{ tagging }}
            </pre>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-6" style="text-align: center">
        <h2 style="font-size: 20px">
            <b>{{ stanford }}</b>
        </h2>
    </div>
    <div class="col-sm-6" style="text-align: center">
        <h2 style="font-size: 20px">
            <b>{{ bikel }}</b>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        {% for stree, sdraw in stanford_trees %}
            <div style="text-align: left; font-size: 14px; line-height: 16px">
                <pre></pre>
                <pre style="padding: 0; margin: 0">{{ stree }}
                </pre>
                <a href="localhost:8000/static/{{ sdraw }}" target="_blank">Tree Image</a>
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        {% for btree, bdraw in bikel_trees %}
            <div style="text-align: left; font-size: 14px; line-height: 16px">
                <pre></pre>
                <pre style="padding: 0; margin: 0">{{ btree }}
                </pre>
                <a href="localhost:8000/static/{{ bdraw }}" target="_blank">Tree Image</a>
            </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div style="text-align: center; line-height: 16px">
            <h2 style="font-size: 20px">
                <b>Precision:</b> {{ precision }}
            </h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div style="text-align: center; line-height: 16px">
            <h2 style="font-size: 20px">
                <b>Recall:</b> {{ recall }}
            </h2>
        </div>
    </div>
    <div class="col-sm-4">
        <div style="text-align: center; line-height: 16px">
            <h2 style="font-size: 20px">
                <b>F-score:</b> {{ score }}
            </h2>
        </div>
    </div>
</div>
<br>
</div>
{% endblock %}
