{% extends "probarser/header.html" %}

{% block textarea %}
<div class='container-fluid'>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}									
		<button class="btn btn-default" type="submit">Parse</button>
	</form>
</div>
{% endblock %}

{% load staticfiles %}
{% block message %}
<div class='container-fluid'>	
{#	<table class="scroll">#}
		<thead>
{#			<tr>#}
{#				<th>Palabra</th>#}
{#				<th>Lema</th>#}
{#                <th>Etiqueta</th>#}
{#				<th>Probabilidad</th>#}
{#			</tr>#}
		</thead>
		<tbody>
{#			{% for item in text %}#}
{#			<tr>#}
{#				<td style="font-weight: bold">#}
{#					<p>{{item.0}}</p>#}
{#				</td>#}
{#				<td style="color: blue">#}
{#					<p>{{item.1}}</p>#}
{#				</td>#}
{#				<td style="color: red">#}
{#					<p>{{item.2}}</p>#}
{#				</td>#}
{#				<td style="color: grey">#}
{#					<p>{{item.3}}</p>#}
{#				</td>#}
{#			</tr>#}
{#			{% endfor %}#}
            <div class="container-fluid}">
                <div class="row">
                    <div class="col-sm-6" style="text-align: center">
                        <h2>
                            {{ stanford }}
{#                            Stanford parser#}
                        </h2>
                    </div>
                    <div class="col-sm-6" style="text-align: center">
                        <h2>
                            {{ bikel }}
                        </h2>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
{#                            {% for item in stanford_draws %}                                #}
{#                                <div style="text-align: justify; overflow: auto">#}
{#                                    <img src="{% static item %}" class="responsive-img">#}
{#                                </div>#}
{#                            {% endfor %}#}
                            {% for item in stanford_trees %}
                                <div style="text-align: left; font-size: 12px; line-height: 16px; overflow: auto">
                                    <pre style="padding: 0; margin: 0">{{ item }}
                                    </pre>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                            <div style="text-align: justify">
                                {{ bikel_tree }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</tbody>
{#	</table>#}
</div>
{% endblock %}
